<form method="post" action="{{ path('app_back_movie_delete', {'id': movie.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');" class="mb-5">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ movie.id) }}">
    <button class="btn btn-danger mt-2">Delete</button>
</form>
